* {
	padding: 0;
	margin: 0;
	font-family: 'Gilroy Regular';
	font-weight: normal;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	background: #f1f1f1;
}

@font-face {
	font-family: 'Gilroy Regular';
	src: url('./components/Fonts/Gilroy-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'Gilroy Medium';
	src: url('./components/Fonts/Gilroy-Medium.ttf');
	font-weight: medium;
}
@font-face {
	font-family: 'Gilroy Bold';
	src: url('./components/Fonts/Gilroy-Bold.ttf');
	font-weight: Bold;
}
